<footer>
  <nav class="header">
      <div>
       <a href="http://www.gironde.fr" id="logo-cd33">le dépt</a>
      </div>
      <div>
               <a href="http://www.ac-bordeaux.fr/dsden33/pid31822/accueil.html" id="logo-dsden">la dsden</a>
      </div>
      <div>
        <p class="text">{{ site.description }}</p>
      </div>
          <div>
             <ul class="social-media-list">
          </li>
          <!-- use the facebook logo for the link --> 
<a href="https://framasphere.org/bookmarklet?title={{site.title}}&url={{site.url}}{{site.baseurl}}{{page.url}}&jump=doclose" target="_blank" title="partage cette page sur diaspora">
        <img alt="..." class="footer-icon" src="{{site.baseurl}}/images/diaspora.jpg">
</a>
        </ul>
 
    </div>
  </nav>

</footer>
